
body{
	font-family: "Quattrocento sans", sans-serif;
	font-size: 17px;
	line-height: 19px;
	color:black;
	word-spacing: 2px;
	background-color: rgb(212, 186, 186);
}

#header{
	width: 100%;
	float: left;
	background: ghostwhite;
	position: fixed;
  opacity: 0.9;
}
